* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
main{
  position: relative;
  overflow: hidden;
}

    #loader{
  height: 100vh;
  width: 100%;
  position: relative;
  /* background-color: aqua; */
}

#loader-first{
    height: 100vh;
    width: 100%;
    background-color: #343434;
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 2vh 0;
}
.reveal{
    /* background-color: red; */
    margin-bottom:1vh ;
}
.parent{
    /* background-color: rgb(83, 83, 0); */
    display: block;
    overflow: hidden;
}
.child{
    /* background-color: rgb(0, 83, 36); */
    display: block;
    transform: translate(0,0);
}
#top-heading{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#top-heading h3{
    font-size:1vw;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1vw;
}
#top-heading #copyright{
   color: #14CF93;
   font-weight: 700;
}

#loader-first h1{
    font-size:4vw;
    font-weight:900;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader-first h1 .green-text{
    color: #14CF93;
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-transform: lowercase;  
    font-weight: 700;
    
}
#loader-first h1 .italic{
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-transform: lowercase;
    font-weight: 700;
    margin-left: 1.3vw;
      
}
#loader-first h2 i{
    display: inline-block;
    color: #14CF93;
    font-size: 3vw;   
    font-weight: 100;
    animation: rotate 1s linear  infinite  ;

}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


#green{
   height: 0;
   width: 100%;
   background-color: #14CF93;
   position: absolute;
   bottom: 0;
}
#white{
   height: 0;
   width: 100%;
   background-color: rgb(255, 255, 255);
   position: absolute;
   bottom: 0;
}

.section{
  height: 100vh;
  width: 100%;
  position: relative;
 
}
#section-1{
  background-color: rgb(72, 72, 72);
}
#section-2{
  background-color: rgb(189, 121, 121);
}
#section-3{
  background-color: rgb(110, 4, 209);
}








